/* Resetted padding, margin, and box-sizing for all elements*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Added Body Information*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(125, 177, 174)}

/* Added header information */
header {
    background-color: teal;
    color: rgb(125, 177, 174);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 30px;
}

/*Set margin of h1 element*/
 h1 {
    margin: 5px 10px 5px 30px;
 }

 /* Set links to display horizontally */
 header nav{
    display: flex;
}

/* Set link appearance*/
nav a {
    color: rgb(125, 177, 174);
    text-decoration: none;
    margin-left: 50px;
    font-size: 30px;
}

/* Added hover state to underline */
nav a:hover {
    text-decoration: underline;
    border-bottom: 1px solid teal;
}

/* Added media screen to adapt header when screen width is 980px or lower */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        position: relative;
    }
}

section h2 {
    font-size: 25px;
}


/* Formatted about-me-heading*/
.about-me-heading {
    border-right: 5px solid teal;
    padding-right: 5px;
    width: 300px;
    min-width: 300px;
}

.about-me-heading > h2 {
    color:  teal;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: calc(100% - 16px)
}


/* Formatted self-detail-container */
.self-detail-container {
    display: flex;
    padding: 8px 16px;
}

/* Set paragraph format */
p {
    font-size: 25px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px 0 25px;
}

/* Added media screen to adapt section when screen width is 768px or lower */
@media screen and (max-width: 768px) {
    section {
        padding-bottom: 0;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        position: relative;
    }
}

/* Formatted work-container */
.work-container {
    display: flex;
    padding: 8px 16px;
}

.work-heading {
    border-right: 5px solid teal;
    padding-right: 5px;
    width: 300px;
    min-width: 300px;
}

.work-heading h2 {
    color:  teal;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: calc(100% - 16px)
}

/*Set portfolio items to display in flexbox*/
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1256px;
    margin-left: 25px;
    /* column-gap: 16px; */
}


/* Set the width for .portfolio-items image */
.portfolio-items img {
    width: calc(100% - 25px);
}

/* Set the width of the .big-picture-container class to occuppy 100% of its container*/
.portfolio-items .big-picture-container {
    width: 100%;
    margin-bottom: 20px;
}

/* Set the width of the.smaller-picture-container class to occupy 50% of its container */
.portfolio-items .smaller-picture-container {
    width: 50%;
}


/* Formatted contact section*/
.contact-container {
    display: flex;
    padding: 8px 16px;
}

.contact-heading {
    border-right: 5px solid teal;
    padding-right: 5px;
    width: 300px;
    min-width: 300px;
}

.contact-heading h2 {
    color:  teal;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: calc(100% - 16px)
}

.contact-link-container {
    font-size: 25px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px 0 25px;
}

ul {
     font-size: 25px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px 0 25px;
    margin-top: 145px;
}

.section-spacing {
    margin-bottom: 50px;
}
