/* Resetted padding, margin, and box-sizing for all elements*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Added font family to body */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Set portfolio items to display in flexbox*/
.portfolio-items {
    display: flex;
}

/* Set the width and margin for articles within the .portfolio class */
.portfolio-items article {
    width: calc(50%-40px);
    margin: 20px;
}

/* Set the width of the first article within .portfolio-items class to be the full container minus 40px */
.portfolio-items article: :first-child {
    width: calc(100%-40px);
}

/* Set the width of the first image within the first article of .portfolio-items class to occupy 100% of its container */
.portfolio-items article:first-child img {
    width: 100%;
}