/* Resetted padding, margin, and box-sizing for all elements*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Added Body Information*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(125, 177, 174)}

/* Added header information */
header {
    background-color: teal;
    color: rgb(125, 177, 174);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 30px;
}

/*Set margin of h1 element*/
 h1 {
    margin: 5px 10px 5px 30px;
 }

 /* Set links to display horizontally */
 header nav{
    display: flex;
}

/* Set link appearance*/
nav a {
    color: rgb(125, 177, 174);
    text-decoration: none;
    margin-left: 50px;
    font-size: 30px;
}

/* Added hover state to underline */
nav a:hover {
    text-decoration: underline;
    border-bottom: 1px solid teal;
}

/* Set paragraph format */
p {
    font-size: 25px;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    padding: 10px 30px 0 25px;
}

/*Set portfolio items to display in flexbox*/
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* Set the width and margin for articles within the .portfolio class */
.portfolio-items article {
    margin: 20px;
}

/* Set the width of the first article within .portfolio-items class to be the full container minus 40px */
.portfolio-items article:first-child {
    width: calc(100%-40px);
}

/* Set the width of the first image within the first article of .portfolio-items class to occupy 100% of its container */
.portfolio-items article img {
    width: 100%;
}

/* Set the anchor tag within the first article of .portfolio-items to be a block-level element, filling available width, and set aspect-ratio */
.portfolio-items article a {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    align-items: center;
}

/* Added hover filter */
.portfolio-items article a:hover {
    filter: opacity(0.8)
}